<h3> Welcome <%= name %> </h4>

<% if(stories.length > 0){ %>
	    <table class="striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% stories.forEach((story)=>{ %>
            <tr>
              <td><a href="stories/<%= story._id %>"><%=story.title %></a></td>
 <td><%= helper.formatDate(story.createdAt, " MMMM Do YYYY, h:mm:ss a") %></td>
            <td><span class="dash-status"><%= story.status %> </span></td>
            <td></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
<% } else{ %>
	no stories were created.

<% } %>

