<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="css/style.css" title="" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

  <nav class="grey darken-1">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">MarkDown Blog</a>
     <a href="/articles/create" class="right"> CreateBlog </a>    
   </div>
  </nav>	                     
<div class="blog-container container">
<% articles.forEach(article=>{ %>	
  <div class="row">
   <div class="col s12 m9">
     <div class="card">
       <div class="card-content center-align">
        <h5><%= article.title %></h5>
        <p><%= article.createdAt.toLocaleDateString() %></p>
	<p> <%= article.description %> </p>
       </div>
       <div class="card-action center-align d-flex">
         <a href="/articles/<%= article.slug %>" class="btn teal lighten-3">Read more</a>
	<a href="/articles/edit/<%= article.id %>" class="btn blue lighten-3">Edit </a>
	<form action="/articles/delete/<%= article.id %>?_method=DELETE" method="post">
	<input type="submit" value= "Delete" class="btn red lighten-2"/>
	</form>
       </div>
     </div>
   </div>
 </div>
<% }) %>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  
</body>
</html>
